// @import 'bootstrap';
@import 'mixins';
// @import 'typography';

.nasdaboom {
    $c_bg : #1D072E;
    $c_primary : #240C39;
    $c_secondary : #3F1762;
    $c_green : #00C595;
    $c_purple : #5f0669;
    $c_purple_active : #350059;
    $c_green_dark: #11595A;

    color: white;
    font-family: 'Arial Rounded MT Bold', sans-serif;

    @include mobile {
        padding: 0 10px 20px 10px;
    }

    a { text-decoration: none; }

    .text-primary { color: $c_primary; }
    .text-secondary { color: #A87AD2; }
    .text-silver { color: #D8D8D8; }

    .text-gradient {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
    }

    h1, h2, h3, h4 { font-weight: 900; }

    h1 { font-size: 60px; line-height: 55px; }
    h2 { font-size: 50px; line-height: 55px; }
    h3 { font-size: 35px; }
    h4 { font-size: 30px; }

    .fz-24 { font-size: 22px; line-height: 1.3; }
    .fz-20 { font-size: 20px; line-height: 1.3; }
    .fz-18 { font-size: 18px; line-height: 1.3; }
    .fz-14 { font-size: 14px; line-height: 1.3; }

    @include mobile {
        h1 { font-size: 36px; line-height: 36px; }
        h2 { font-size: 32px; line-height: 32px; }
        h3 { font-size: 28px; line-height: 28px; }
        h4 { font-size: 25px; line-height: 25px; }

        .fz-24 { font-size: 18px; line-height: 1.3; }
        .fz-20 { font-size: 16px; line-height: 1.3; }
        .fz-18 { font-size: 16px; line-height: 1.3; }
        .fz-14 { font-size: 14px; line-height: 1.3; }
    }

    .bg-white { background: white !important; }
    .bg-primary { background: $c_primary !important; }
    .bg-purple { 
        background: $c_purple !important; 

        &.active {
            background: $c_purple_active !important; 
        }
    }
    &.bg, .bg { background: $c_bg !important; }
    .bg-green { background: $c_green !important; }
    .bg-green-dark { background: $c_green_dark !important; }

    .row {  
        max-width: 1240px;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    .btn {
        background: $c_secondary;
        color: white;
        font-weight: bold;
        padding: 20px 40px;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;

        @include mobile {
            padding: 15px 40px;
            font-size: 16px;
        }
    }

    .d-ib { display: inline-block; }


    .total-users .text-gradient { background: linear-gradient(to right, #bb357e, #cc6d59); }
    .total-donated .text-gradient { background: linear-gradient(to right, #0e9cc8, #30b66d); }
    .your-id .text-gradient { background: linear-gradient(to right, #5c9a61, #b5752f); }
    .your-sponsor .text-gradient { background: linear-gradient(to right, #d97342, #882cca); }
    .you-cicled .text-gradient { background: linear-gradient(to top, #f07c33, #f9c343); }
    .residual-bonus .text-gradient { background: linear-gradient(to right, #ab684c, #d2a94a, #ab684c); }

    .btn-withdraw {
        background: transparent linear-gradient(180deg, #FAD961 0%, #F76B1C 100%) 0% 0% no-repeat padding-box;
    }    

    .btn {
        font-weight: bold;
        border-radius: 4px;
        text-transform: uppercase;
        color: white;
        text-align: center;
        padding: 5px 30px;
        font-size: 14px;

        &.tall { 
            padding: 10px 30px;
        }
    }

    input {
        background-color: rgba(255,255,255, 0.15);
        border-radius: 5px;
        height: 40px;
        padding: 0 12px;
    }

    .progress {
        border-radius: 25px;
        background: linear-gradient(to right, #00c9ff, #53d115);
        position: relative;
        height: 15px;
        margin-top: 20px;

        .goal {
            float: right;
            margin-top: -30px;
        }

        &-marker {
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .6s;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 13px;
        }
    }

    .nasdaboom-card {
        margin: 15px;

        @include mobile {
            max-width: calc(50% - 15px);
            flex: 0 0 calc(50% - 15px);
            margin: 15px 7.5px;
        }

        &.active {
            .nasdaboom-card__wrapper {
                background: linear-gradient(to right, #519dcd, #709762);
            }

            .nasdaboom-card__header { background: $c_bg; }
        }

        &__header {
            border-radius: 5px;
            background: $c_secondary;
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding: 10px;
            margin-bottom: 40px;
            z-index: 10;
        }

        &__counter {
            position: absolute;
            left: 10px;
            top: 10px;
            font-size: 13px;
        }

        &__wrapper {
            padding: 2px;
            border-radius: 5px;
            width: 160px;
            height: 70px;
            z-index: 10;
            position: relative;

            @include mobile {
                width: 100%;
            }
        }

        .circles {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            
            .circle {
                border-radius: 50%;
                border: 2px solid $c_secondary;
                background: $c_primary;
                width: 30px;
                height: 30px;
                position: relative;

                &:before {
                    content: '';
                    border-left: 1px dashed white;
                    height: 60px;
                    width: 1px;
                    position: absolute;
                    top: -3px;
                    transform: translateY(-100%);
                    left: 50%;
                    transform-origin: bottom;
                }

                &:first-child:before {
                    transform: translateY(-100%) rotate(30deg);
                }

                &:last-child:before {
                    transform: translateY(-100%) rotate(-30deg);
                }

                &.active {
                    border-color: white;

                    &:first-child { background: linear-gradient(to right, #5ACCFF, #86D138); }
                    &:nth-child(2) { background: linear-gradient(to right, #86D138, #5ACCFF); }
                    &:nth-child(3) { background: linear-gradient(to top, #FAD961, #F76B1C); }
                }
            }
        }
    }

    .table-responsive {
        min-width: 1160px; 
        max-width: 100%;

        @include mobile {
            min-width: unset;
            overflow-x: auto;
            max-width: calc(100vw - 20px);
        }

    }

    .table-levels {

        .table-level { transition: all .6s; }
        @include mobile {
            align-items: center;
            flex-wrap: nowrap;
            overflow-x: auto;

            > .table-level {
                white-space: nowrap;
            }
        }
    }

    table {
        text-align: left;

        th, td {
            padding: 13px 20px;
        }
    }
}